body {
	margin: 0;
	padding: 0;
}
section {
	padding: 50px 50px 75px;
	box-sizing: border-box;
	font-size: 3em;
}
nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	padding: 0 100px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
#header-ul {
	margin: 0;
	padding: 0;
	display: flex;
}
#header-ul li {
	list-style: none;
}
#header-ul li a {
	color: #000000;
	padding: 0 20px;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
}
.brand {
	font-size: 2em;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
@font-face{
	font-family: myFont;
	src:url(font.ttf);
}
.menu-button{
	font-family: myFont;
}
.h1-beautiful{
	font-family: myFont;
}
.Next {
	font-family: myFont;
	font-size: 0.8em;
}
#list {
	position: relative;
	width: 450px;
	padding: 10px;
	box-sizing: border-box;
	margin: 250px auto 0;
}
#list li {
	display: flex;
	background: #000;
	color: #fff;
	margin: 5px 0;
	transition: .5s;
}
.list-font{
	font-family: myFont;
	font-size: 1.0em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.more-info {
	font-size: 0.6em;
}
.border-1 {
	border-radius: 30px;
	padding: 20px;
	margin: 20px;
	width: 500px;
	height: 35px;
}
#btn {
	display: inline-block;
	cursor: pointer;
}
#btn:hover {
	background-color: #267aca;
}
.border {
	border-radius: 30px;
	padding: 20px;
	margin: 20px;
	width: 500px;
	height: 75px;	
	cursor: pointer;
}
.text-pages {
	margin-left: 120px;
}
.text-pages-italic {
	font-size: 20px;
	font-weight: bold;
}
.more-page-info {
	font-size: 0.6em;
}

.search-box{
	width: 600px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
}
.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
}
input{
	flex: 1;
	height: 50px;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 18px;
	color: #fff;
}
button{
	background: transparent;
	border: 0;
	outline: 0;
}
button .fa-solid {
	width: 25px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}
::placeholder{
	color: #fff;
}
.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.result-box{
	max-height: 350px;
	overflow: scroll;
	scrollbar-width: normal;
	scrollbar-color: #787678 #4D4C4D;
}
.result-box ul{
	border-top: 1px solid #999;
	color: #fff;
	padding: 15px 10px;
}
.result-box ul li{
	list-style: none;
	border-radius: 3px;
	padding: 15px 10px;
	cursor: pointer;
}
.result-box ul li:hover{
	background-color: #267aca;
}
.result-box::-webkit-scrollbar {
	width: 0px; /* სქროლბარის სერჩში გაქრომა გამოჩენა */
}
.result-box::-webkit-scrollbar-thumb {
	background-color: #4D4C4D;
}
.result-box::-webkit-scrollbar-track {
	background-color: #787678;
}
html {
	scrollbar-width: normal;
	scrollbar-color: #fff #000;
}
html::-webkit-scrollbar {
	width: 15px;
}
html::-webkit-scrollbar-thumb {
	background-color: #000;
}
html::-webkit-scrollbar-track {
	background-color: #CECECE;
}
.list-container {
	position: absolute;
	left: 45.8%;
	top: 225%;
	transform: translate(-50%, -50%);
}
:target{
	background-color: #267aca;
	color: black;
}
ul#list {
    margin-top: 0;
    padding-top: 0;
}
.result-font {
	font-size: 1.0em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
/* ტელეფონებისთვის */



















/* */
@media screen and (min-width: 580px) and (max-width: 629px) {
	.list-container {
	position: absolute;
	left: 50%;
	top: 225%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.6em;
	}
	.border-1 {
	width: 350px;
	height: 22px;
	}
	.border {
	width: 350px;
	height: 55px;
	}
	.more-info {
	font-size: 0.425em;
	}
	.info {
	font-size: 0.775em;
	}
	nav {
        padding: 0 3px;
    }
    #header-ul li a {
        padding: 0 8px;
        font-size: 1.2em;
    }
    .brand {
        font-size: 1.2em;
    }
    .menu-button {
        font-size: 1.2em;
    }
	.search-box{
	width: 380px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* საშვალოზე ცოტა პატარა */
@media screen and (min-width: 656px) and (max-width: 689px) {
	.list-container {
	position: absolute;
	left: 50%;
	top: 225%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.65em;
	}
	.border-1 {
	width: 370px;
	height: 25px;
	}
	.border {
	width: 370px;
	height: 58px;
	}
	.more-info {
	font-size: 0.45em;
	}
	.info {
	font-size: 0.8em;
	}
	nav {
        padding: 0 3px;
    }
    #header-ul li a {
        padding: 0 8px;
        font-size: 1.3em;
    }
    .brand {
        font-size: 1.3em;
    }
    .menu-button {
        font-size: 1.3em;
    }
	.search-box{
	width: 400px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* საშვალოზე პატარა */
@media screen and (min-width: 690px) and (max-width: 749px) {
	.list-container {
	position: absolute;
	left: 50%;
	top: 225%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.65em;
	}
	.border-1 {
	width: 370px;
	height: 25px;
	}
	.border {
	width: 370px;
	height: 58px;
	}
	.more-info {
	font-size: 0.45em;
	}
	.info {
	font-size: 0.8em;
	}
	nav {
        padding: 0 5px;
    }
    #header-ul li a {
        padding: 0 10px;
        font-size: 1.4em;
    }
    .brand {
        font-size: 1.4em;
    }
    .menu-button {
        font-size: 1.4em;
    }
	.search-box{
	width: 400px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* საშვალო */
@media screen and (min-width: 750px) and (max-width: 849px) {
	.list-container {
	position: absolute;
	left: 50%;
	top: 225%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.7em;
	}
	.border-1 {
	width: 385px;
	height: 30px;
	}
	.border {
	width: 385px;
	height: 75px;
	}
	.more-info {
	font-size: 0.5em;
	}
	.info {
	font-size: 0.85em;
	}
	nav {
        padding: 0 10px;
    }
    #header-ul li a {
        padding: 0 12px;
        font-size: 1.5em;
    }
    .brand {
        font-size: 1.5em;
    }
    .menu-button {
        font-size: 1.5em;
    }
	.search-box{
	width: 425px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}

/* საშვალოზე დიდი */
@media screen and (min-width: 850px) and (max-width: 989px) {
	.list-container {
	position: absolute;
	left: 47.75%;
	top: 225%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.75em;
	}
	.border-1 {
	width: 400px;
	height: 30px;
	}
	.border {
	width: 400px;
	height: 75px;
	}
	.more-info {
	font-size: 0.55em;
	}
	.info {
	font-size: 0.90em;
	}
	nav {
        padding: 0 10px;
    }
    #header-ul li a {
        padding: 0 12px;
        font-size: 1.5em;
    }
    .brand {
        font-size: 1.5em;
    }
    .menu-button {
        font-size: 1.5em;
    }
	.search-box{
	width: 450px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* დიდი */
@media screen and (min-width: 990px) and (max-width: 1074px) {
	.result-font {
	font-size: 0.8em;
	}
	.border-1 {
	width: 450px;
	height: 30px;
	}
	.border {
	width: 450px;
	height: 75px;
	}
	.info {
		font-size: 0.95em;
	}
	.more-info {
		font-size: 0.57em;
	}
	nav {
        padding: 0 10px;
    }
    #header-ul li a {
        padding: 0 12px;
        font-size: 1.5em;
    }
    .brand {
        font-size: 1.5em;
    }
    .menu-button {
        font-size: 1.5em;
    }
	.search-box{
	width: 500px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.result-box{
	max-height: 350px;
	overflow: scroll;
	scrollbar-width: normal;
	scrollbar-color: #787678 #4D4C4D;
	}
	.result-box ul{
	border-top: 1px solid #999;
	color: #fff;
	padding: 15px 10px;
	}
	.result-box ul li{
	list-style: none;
	border-radius: 3px;
	padding: 15px 10px;
	cursor: pointer;
	}
}
