body {
	margin: 0;
	padding: 0;
}
section {
	padding: 50px 50px 75px;
	box-sizing: border-box;
	font-size: 3em;
}
nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	padding: 0 100px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
#header-ul {
	margin: 0;
	padding: 0;
	display: flex;
}
#header-ul li {
	list-style: none;
}
#header-ul li a {
	color: #000000;
	padding: 0 20px;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
}
.brand {
	font-size: 2em;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
@font-face{
	font-family: myFont;
	src:url(font.ttf);
}
.menu-button{
	font-family: myFont;
}
.h1-beautiful{
	font-family: myFont;
}
.Next {
	font-family: myFont;
	font-size: 0.8em;
}
#list {
	position: relative;
	width: 450px;
	padding: 10px;
	box-sizing: border-box;
	margin: 250px auto 0;
}
#list li {
	display: flex;
	background: #000;
	color: #fff;
	margin: 5px 0;
	transition: .5s;
}
.list-font{
	font-family: myFont;
	font-size: 1.0em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.more-info {
	font-size: 0.6em;
}
#btn {
	display: inline-block;
	cursor: pointer;
}
#btn:hover {
	background-color: #267aca;
}
.text-pages {
	margin-left: 120px;
}
.text-pages-italic {
	font-size: 20px;
	font-weight: bold;
}
.more-page-info {
	font-size: 0.6em;
}
.search-box{
	width: 600px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
}
.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
}
input{
	flex: 1;
	height: 50px;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 18px;
	color: #fff;
}
button{
	background: transparent;
	border: 0;
	outline: 0;
}
button .fa-solid {
	width: 25px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}
::placeholder{
	color: #fff;
}
.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.result-box{
	max-height: 350px;
	overflow: scroll;
	scrollbar-width: normal;
	scrollbar-color: #787678 #4D4C4D;
}
.result-box ul{
	border-top: 1px solid #999;
	color: #fff;
	padding: 15px 10px;
}
.result-box ul li{
	list-style: none;
	border-radius: 3px;
	padding: 15px 10px;
	cursor: pointer;
}
.result-box ul li:hover{
	background-color: #267aca;
}
.result-box::-webkit-scrollbar {
	width: 0px; /* სქროლბარის სერჩში გაქრომა გამოჩენა */
}
.result-box::-webkit-scrollbar-thumb {
	background-color: #4D4C4D;
}
.result-box::-webkit-scrollbar-track {
	background-color: #787678;
}
html {
	scrollbar-width: normal;
	scrollbar-color: #fff #000;
}
html::-webkit-scrollbar {
	width: 15px;
}
html::-webkit-scrollbar-thumb {
	background-color: #000;
}
html::-webkit-scrollbar-track {
	background-color: #CECECE;
}
:target{
	background-color: #267aca;
	color: black;
}
ul#list {
    margin-top: 0;
    padding-top: 0;
}
.result-font {
	font-size: 0.9em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.border-1 {
	border-radius: 30px;
	padding: 20px;
	margin: 20px;
	width: 573px;
	height: 35px;
}
.border {
	border-radius: 30px;
	padding: 20px;
	margin: 20px;
	width: 573px;
	height: 75px;	
	cursor: pointer;
}
.list-container {
	position: absolute;
	left: 43.2%;
	top: 205%;
	transform: translate(-50%, -50%);
}
#header-ul {
    padding-right: 50px;
}
/* 0px - 265px */
@media screen and (min-width: 0px) and (max-width: 265px) {
	.list-container {
	position: absolute;
	left: 100%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.2em;
	}
	.border-1 {
	padding: 20px;
	margin: 20px;
	width: 130px;
	height: 10px;
	}
	.border {
	width: 130px;
	height: 45px;
	}
	.more-info {
	font-size: 0.2em;
	}
	.info {
	font-size: 0.4em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 10px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1em;
    }
    .brand {
        font-size: 1.1em;
    }
    .menu-button {
        font-size: 0.6em;
    }
	.search-box{
	width: 165px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	button {
		display:none;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 270px - 309px */
@media screen and (min-width: 265px) and (max-width: 309px) {
	.list-container {
	position: absolute;
	left: 100%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.2em;
	}
	.border-1 {
	padding: 20px;
	margin: 20px;
	width: 130px;
	height: 10px;
	}
	.border {
	width: 130px;
	height: 45px;
	}
	.more-info {
	font-size: 0.2em;
	}
	.info {
	font-size: 0.4em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 10px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1em;
    }
    .brand {
        font-size: 1.1em;
    }
    .menu-button {
        font-size: 0.6em;
    }
	.search-box{
	width: 165px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	button {
		display:none;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 310px - 349px */
@media screen and (min-width: 310px) and (max-width: 349px) {
	.list-container {
	position: absolute;
	left: 84%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.3em;
	}
	.border-1 {
	padding: 20px;
	margin: 20px;
	width: 180px;
	height: 10px;
	}
	.border {
	width: 180px;
	height: 45px;
	}
	.more-info {
	font-size: 0.3em;
	}
	.info {
	font-size: 0.5em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 10px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1em;
    }
    .brand {
        font-size: 1.1em;
    }
    .menu-button {
        font-size: 0.6em;
    }
	.search-box{
	width: 210px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	button {
		display:none;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 350px - 396px */
@media screen and (min-width: 350px) and (max-width: 396px) {
	.list-container {
	position: absolute;
	left: 75%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.4em;
	}
	.border-1 {
	padding: 20px;
	margin: 20px;
	width: 220px;
	height: 22px;
	}
	.border {
	width: 220px;
	height: 55px;
	}
	.more-info {
	font-size: 0.41em;
	}
	.info {
	font-size: 0.58em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 10px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1em;
    }
    .brand {
        font-size: 1.1em;
    }
    .menu-button {
        font-size: 0.6em;
    }
	.search-box{
	width: 250px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	button {
		display:none;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 397px - 424px */
@media screen and (min-width: 397px) and (max-width: 424px) {
	.list-container {
	position: absolute;
	left: 68.2%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.455em;
	}
	.border-1 {
	padding: 20px;
	margin: 20px;
	width: 246px;
	height: 22px;
	}
	.border {
	width: 246px;
	height: 55px;
	}
	.more-info {
	font-size: 0.41em;
	}
	.info {
	font-size: 0.58em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 17px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1em;
    }
    .brand {
        font-size: 1.1em;
    }
    .menu-button {
        font-size: 0.75em;
    }
	.search-box{
	width: 280px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 425px - 462px */
@media screen and (min-width: 425px) and (max-width: 462px) {
	.list-container {
	position: absolute;
	left: 64.5%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.46em;
	}
	.border-1 {
	width: 266px;
	height: 22px;
	}
	.border {
	width: 266px;
	height: 55px;
	}
	.more-info {
	font-size: 0.425em;
	}
	.info {
	font-size: 0.62em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 20px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1.1em;
    }
    .brand {
        font-size: 1.1em;
    }
    .menu-button {
        font-size: 0.8em;
    }
	.search-box{
	width: 300px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 463px - 509px */
@media screen and (min-width: 463px) and (max-width: 509px) {
	.list-container {
	position: absolute;
	left: 63.6%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.46em;
	}
	.border-1 {
	width: 267px;
	height: 22px;
	}
	.border {
	width: 267px;
	height: 55px;
	}
	.more-info {
	font-size: 0.425em;
	}
	.info {
	font-size: 0.62em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 36px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1.1em;
    }
    .brand {
        font-size: 1.1em;
    }
    .menu-button {
        font-size: 1.09em;
    }
	.search-box{
	width: 300px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 510px - 512px */
@media screen and (min-width: 510px) and (max-width: 512px) {
	.list-container {
	position: absolute;
	left: 59.6%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.5em;
	}
	.border-1 {
	width: 290px;
	height: 22px;
	}
	.border {
	width: 290px;
	height: 55px;
	}
	.more-info {
	font-size: 0.425em;
	}
	.info {
	font-size: 0.7em;
	}
	nav {
        padding: 0 1px;
    }
    #header-ul {
    	padding-right: 45px;
    }
    #header-ul li a {
        padding: 0 1px;
        font-size: 1.2em;
    }
    .brand {
        font-size: 1.2em;
    }
    .menu-button {
        font-size: 1.2em;
    }
	.search-box{
	width: 320px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 513px - 533px */
@media screen and (min-width: 513px) and (max-width: 533px) {
	.list-container {
	position: absolute;
	left: 59.6%;
	top: 192%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.5em;
	}
	.border-1 {
	width: 290px;
	height: 22px;
	}
	.border {
	width: 290px;
	height: 55px;
	}
	.more-info {
	font-size: 0.425em;
	}
	.info {
	font-size: 0.7em;
	}
	nav {
        padding: 0 2px;
    }
    #header-ul {
    	padding-right: 45px;
    }
    #header-ul li a {
        padding: 0 2px;
        font-size: 1.2em;
    }
    .brand {
        font-size: 1.2em;
    }
    .menu-button {
        font-size: 1.2em;
    }
	.search-box{
	width: 320px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 534px - 579px */
@media screen and (min-width: 534px) and (max-width: 579px) {
	.list-container {
	position: absolute;
	left: 56.7%;
	top: 189%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.55em;
	}
	.border-1 {
	width: 310px;
	height: 22px;
	}
	.border {
	width: 310px;
	height: 55px;
	}
	.more-info {
	font-size: 0.425em;
	}
	.info {
	font-size: 0.775em;
	}
	nav {
        padding: 0 2px;
    }
    #header-ul {
    	padding-right: 41px;
    }
    #header-ul li a {
        padding: 0 8px;
        font-size: 1.2em;
    }
    .brand {
        font-size: 1.2em;
    }
    .menu-button {
        font-size: 1.2em;
    }
	.search-box{
	width: 340px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 580px - 655px */
@media screen and (min-width: 580px) and (max-width: 655px) {
	.list-container {
	position: absolute;
	left: 53%;
	top: 189%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.6em;
	}
	.border-1 {
	width: 350px;
	height: 22px;
	}
	.border {
	width: 350px;
	height: 55px;
	}
	.more-info {
	font-size: 0.425em;
	}
	.info {
	font-size: 0.775em;
	}
	nav {
        padding: 0 3px;
    }
    #header-ul {
    	padding-right: 43px;
    }
    #header-ul li a {
        padding: 0 8px;
        font-size: 1.2em;
    }
    .brand {
        font-size: 1.2em;
    }
    .menu-button {
        font-size: 1.2em;
    }
	.search-box{
	width: 380px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 656px - 689px */
@media screen and (min-width: 656px) and (max-width: 689px) {
	.list-container {
	position: absolute;
	left: 51.6%;
	top: 190%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.65em;
	}
	.border-1 {
	width: 368px;
	height: 25px;
	}
	.border {
	width: 368px;
	height: 58px;
	}
	.more-info {
	font-size: 0.45em;
	}
	.info {
	font-size: 0.8em;
	}
	nav {
        padding: 0 3px;
    }
    #header-ul {
    	padding-right: 43px;
    }
    #header-ul li a {
        padding: 0 8px;
        font-size: 1.3em;
    }
    .brand {
        font-size: 1.3em;
    }
    .menu-button {
        font-size: 1.3em;
    }
	.search-box{
	width: 400px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 690px - 749px */
@media screen and (min-width: 690px) and (max-width: 749px) {
	.list-container {
	position: absolute;
	left: 51.2%;
	top: 190%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.65em;
	}
	.border-1 {
	width: 370px;
	height: 25px;
	}
	.border {
	width: 370px;
	height: 58px;
	}
	.more-info {
	font-size: 0.45em;
	}
	.info {
	font-size: 0.8em;
	}
	nav {
        padding: 0 5px;
    }
    #header-ul {
    	padding-right: 46px;
    }
    #header-ul li a {
        padding: 0 10px;
        font-size: 1.4em;
    }
    .brand {
        font-size: 1.4em;
    }
    .menu-button {
        font-size: 1.4em;
    }
	.search-box{
	width: 400px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 750px - 849px */
@media screen and (min-width: 750px) and (max-width: 849px) {
	.list-container {
	position: absolute;
	left: 50%;
	top: 205%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.7em;
	}
	.border-1 {
	width: 390px;
	height: 30px;
	}
	.border {
	width: 390px;
	height: 75px;
	}
	.more-info {
	font-size: 0.5em;
	}
	.info {
	font-size: 0.85em;
	}
	nav {
        padding: 0 10px;
    }
    #header-ul {
    	padding-right: 46px;
    }
    #header-ul li a {
        padding: 0 12px;
        font-size: 1.5em;
    }
    .brand {
        font-size: 1.5em;
    }
    .menu-button {
        font-size: 1.5em;
    }
	.search-box{
	width: 425px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 850px - 989px */
@media screen and (min-width: 850px) and (max-width: 989px) {
	.list-container {
	position: absolute;
	left: 47.75%;
	top: 205%;
	transform: translate(-50%, -50%);
	}
	.result-font {
	font-size: 0.75em;
	}
	.border-1 {
	width: 425px;
	height: 30px;
	}
	.border {
	width: 425px;
	height: 75px;
	}
	.more-info {
	font-size: 0.55em;
	}
	.info {
	font-size: 0.90em;
	}
	nav {
        padding: 0 10px;
    }
    #header-ul {
    	padding-right: 47px;
    }
    #header-ul li a {
        padding: 0 12px;
        font-size: 1.5em;
    }
    .brand {
        font-size: 1.5em;
    }
    .menu-button {
        font-size: 1.5em;
    }
	.search-box{
	width: 450px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}
/* 990px - 1074px */
@media screen and (min-width: 990px) and (max-width: 1074px) {
	.list-container {
	top: 215%;
	left: 46%;
	}
	.result-font {
	font-size: 0.8em;
	}
	.border-1 {
	width: 474px;
	height: 30px;
	}
	.border {
	width: 474px;
	height: 75px;
	}
	.info {
		font-size: 0.95em;
	}
	.more-info {
		font-size: 0.57em;
	}
	nav {
        padding: 0 10px;
    }
    #header-ul {
    	padding-right: 50px;
    }
    #header-ul li a {
        padding: 0 12px;
        font-size: 1.5em;
    }
    .brand {
        font-size: 1.5em;
    }
    .menu-button {
        font-size: 1.5em;
    }
	.search-box{
	width: 500px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.result-box{
	max-height: 350px;
	overflow: scroll;
	scrollbar-width: normal;
	scrollbar-color: #787678 #4D4C4D;
	}
	.result-box ul{
	border-top: 1px solid #999;
	color: #fff;
	padding: 15px 10px;
	}
	.result-box ul li{
	list-style: none;
	border-radius: 3px;
	padding: 15px 10px;
	cursor: pointer;
	}
}
/* 1080px - 2340px */
@media screen and (min-width: 1080px) and (max-height: 2340px)  {
	.list-container {
	top: 70%;
	left: 46.5%;
	}
	.result-font {
	font-size: 0.8em;
	}
	.border-1 {
	width: 470px;
	height: 30px;
	}
	.border {
	width: 470px;
	height: 75px;
	}
	.info {
		font-size: 0.95em;
	}
	.more-info {
		font-size: 0.57em;
	}
	nav {
        padding: 0 10px;
    }
    #header-ul {
    	padding-right: 125px;
    }
    #header-ul li a {
        padding: 0 12px;
        font-size: 4em;
    }
    .brand {
        font-size: 1.5em;
    }
    .menu-button {
        font-size: 3em;
    }
	.search-box{
	width: 500px;
	background: #000;
	margin: 200px auto 0;
	border-radius: 20px;
	}
	.row{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
	.flex {
	position: absolute;
	font-size: 25px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.result-box{
	max-height: 350px;
	overflow: scroll;
	scrollbar-width: normal;
	scrollbar-color: #787678 #4D4C4D;
	}
	.result-box ul{
	border-top: 1px solid #999;
	color: #fff;
	padding: 15px 10px;
	}
	.result-box ul li{
	list-style: none;
	border-radius: 3px;
	padding: 15px 10px;
	cursor: pointer;
	}
}
